#lbl_style
{
	-fx-text-fill : white ;
	-fx-font-family : "Comic Sans MS" ;
	-fx-font-weight : bold ;
	-fx-font-size : 20pt ;
}

#lbl_style2
{
	-fx-text-fill : gold ;
	-fx-font-family : "Comic Sans MS" ;
	-fx-font-weight : bolder ;
	-fx-font-size : 20pt ;	
}

.rectangle
{
	-fx-background-color : linear-gradient(lightgreen, lime, lightgreen) ;
}

.button
{
	-fx-font-family : "Comic Sans MS" ;
	-fx-font-size : 12pt ;
	-fx-text-fill : black ;
	-fx-font-weight : bolder ;
	-fx-background-color : linear-gradient(lightgray, darkgray, lightgray) ;
	-fx-background-radius : 200 ;
}